<h1>Listing quests</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Experience</th>
  </tr>
 
  <% @quests.each do |quest| %>
    <tr>
      <td><%= quest.name %></td>
      <td><%= quest.description %></td>
      <td><%= quest.experience_points %></td>
    </tr>
  <% end %>
</table>

