<ion-header-bar class="temaPurrsuit" align-title="center">
    <button class="button button-icon button-clear icon ion-chevron-left" ui-sref="login"></button>
    <h1 class="title">Crie sua conta</h1>
</ion-header-bar>
<ion-view>
  <ion-content>
    <form ng-submit="signUp(user)">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="user.name" placeholder="Nome">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="user.email" placeholder="E-mail">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="user.password" placeholder="Senha">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="user.password_confirmation" placeholder="Confirme sua senha">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" type="submit">Criar Conta</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
