<ion-view view-title="Quest Details">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h2>{{whichQuest.name}}</h2>
        <h2>{{whichQuest.experience_points}}</h2>
      </div>
      <div class="item item-body">
        <p>{{whichQuest.description}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
