<ion-view view-title="{{achievements.achievement[achvId-1].name}}">
  <ion-content>
    <div class="list card">
			<div class="item item-icon-left">
				<i class="icon ion-clipboard"></i>
				<h2 class="TitleDescription"> Descrição </h2>
			</div>
			<div class="item-body">
				<p>{{achievements.achievement[achvId-1].description}} </p>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-ribbon-b"></i>
				<p>Valor: {{achievements.achievement[achvId-1].experience_points}} XP</p>
			</div>
    </div>
  </ion-content>
</ion-view>
