/* Empty. Add your own CSS if you like */
.temaPurrsuit{
background-color: #607D8B;
}
.pageTitle{
	color: white;
}
.QuestTitle{
	color: #607D8B;
}
.sideMenu{
	background-color: #CFD8DC !important;
	color:  #212121;
}
